/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}


ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

#App {
  overflow: hidden;
  margin: 0 auto;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 300px) {
  #App { 
    width: 100vw;
  }
}
@media screen and (min-width: 576px) {
  #App { 
    width: 95vw;
  }
}
@media screen and (min-width: 768px) {
  #App {
     width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  #App {
     width: 85vw;
  }
}
@media screen and (min-width: 1200px) {
  #App {
     width: 80vw;
  }
}
@media screen and (min-width: 1400px) {
  #App {
     width: 1140px;
  }
}